DATABASE_URL=mongodb://<YOUR_DATABASE_USER>:<YOUR_DATABASE_USER_PASSWORD>@muso-data:37019/?authSource=<YOUR_DATABASE_NAME>
SONGS_DB_NAME=<YOUR_DATABASE_NAME>
API_DB_USER=<YOUR_DATABASE_USER>
API_DB_PASSWORD=<YOUR_DATABASE_USER_PASSWORD>
