<header>
    <h1>Song List</h1>
</header>
<content>
    <div class="addSong">
        <label for="new-song">Add Song</label>
        <div class="addControls">
            <input type="text" id="new-song" #newTitle placeholder="Enter a song title" onfocus="this.place"/>
            <button (click)="addSong(newTitle.value); newTitle.value='';" type="submit" class="addButton">
                <span class="glyph"></span>
            </button>
            <hr/>
        </div>
    </div>
    
    <ul>
        <li *ngFor="let song of songList.songs">
            <app-song-display [song]="song" 
                (deleteRequested)="deleteSong($event)" 
                (editCompleted)="editSong($event)"></app-song-display>
        </li>
    </ul>
</content>
<footer>
</footer>


