h1 {
    font-size: 2em;
    padding-top: 1em;
    padding-left: 1em;
    color: rgba(247, 247, 247, 0.89);
}

.addSong{
    font-size: 1.2em;
    padding: 1.81em;
    padding-top: 1.2em;
    display: flex;
    flex-direction: column;
}

label{
    color: #2196f3;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-left: 2px;
}

.addControls {
    display: grid;
    grid-template-columns: auto 10px 3em;
}

#new-song{
    display: block;
    width: 100%;
    background: none;
    border: none;
    border-radius: 10px;
    height: 1.8emem;
    color: white;
    font-size: 1.5em;
    grid-row: 1;
    grid-column: 0;
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
::placeholder{
    color: white;
}

input:focus::placeholder {
  color: transparent;
}

hr {
    width: 100%;
    background-color: #2196f3;
    border: 0;
    height: 2px;
    margin: 0px;
    padding: 0px;
    grid-row: 2;
    padding-left: 2px;;
}


.addControls input:focus {
    outline: none;
}

.addButton{
    grid-row: 1;
    grid-column: 3;
}

.addButton:disabled{
    display: hidden;
}

.addButton .glyph {
    background: url('/assets/glyphs.png') 241px 28px;
}

.addButton:hover .glyph {
    background: url('/assets/glyphs.png') 241px 0px;
}

ul{
    list-style: none;
    font-size: 1.5em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-bottom: 5em;
}
