.songDisplay{
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto 3em  3em;
    height: 1.5em;
    margin-bottom: 10px;
    margin-right: 5px;
}

.title{
    grid-column: 1;
    align-self: center;
}



.deleteButton{
    grid-column: 3;
}

.deleteButton .glyph{
    background: url('/assets/glyphs.png') 31px -31px;
}

.deleteButton:hover .glyph{
    background: url('/assets/glyphs.png') 31px 1px;
}

.editButton{
    grid-column: 2;
}

.editButton .glyph{
    background: url('/assets/glyphs.png') 206px -31px;
}

.editButton:hover .glyph{
    background: url('/assets/glyphs.png') 206px 1px;
}
